NEXT_PUBLIC_SOMNIA_RPC_URL=https://api.infra.testnet.somnia.network
NEXT_PUBLIC_SOMNIA_WS_URL=wss://api.infra.testnet.somnia.network/ws
NEXT_PUBLIC_DREAMDEX_INDEXER_URL=https://dev.smk.somnia.host/v1/graphql
NEXT_PUBLIC_SOMNIA_PRICE_FEED_URL=https://price-feed.dev.oracle.somnia.host/v1/graphql
NEXT_PUBLIC_DREAMDEX_VENUE_ID=0x679795a0195a1b76cdebb7c51d74e058aee92919b8c3389af86ef24535e8a28c
FORECAST_REGISTRY_ADDRESS=
FORECAST_RELAYER_PRIVATE_KEY=
